doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title CITIZEN RECORD
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='keywords')
    meta(content='', name='description')
    // Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    // Twitter Cards integration: https://dev.twitter.com/cards/
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:description', content='')
    meta(name='twitter:image', content='')
    // Favicon
    link(href='img/favicon.ico', rel='icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900', rel='stylesheet')
    // Bootstrap CSS File
    link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Libraries CSS Files
    link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // Main Stylesheet File
    link(href='css/style.css', rel='stylesheet')
    // CITIZEN RECORD
    // =======================================================
    
  body
    //
      Page Content
      ==================================================
    // Hero
    section.hero
      .container.text-center
        .row
          .col-md-12
            a.hero-brand(href='index.html', title='Home')
              img(alt='', img='', src='~/bootcamp/homework/Bell/img/Screen Shot 2018-05-24 at 7.56.16 PM.png')
        .col-md-12
          h1
            | CITIZEN RECORD
          p.tagline
            | If you LIVED SOMETHING, UPLOAD SOMETHING.
          a.btn.btn-full(href='#about') Welcome Citizen
    // /Hero
    // Header
    header#header
      .container
        #logo.pull-left
          // <a href="index.html"><img src="img/logo-nav.png" alt="" title="" /></img></a>
          // Uncomment below if you prefer to use a text image
          // <h1><a href="#hero">Bell</a></h1>
        nav#nav-menu-container
          ul.nav-menu
            li
              a(href='') About Us
            li
              a(href='#features') My Account 
            // <li><a href="#portfolio">Search Record</a></li>
            li
              a(href='#portfolio') File Record
            li
             a(href='search.html') Search Records
              a(href='#contact') Contact Us
            li
              a(href='/logout') Log Out

        // #nav-menu-container
        nav.nav.social-nav.pull-right.d-none.d-lg-inline
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-linkedin
          a(href='#')
            i.fa.fa-envelope
    // #header
    // About
    section#about.about
      .container.text-center
        h2
          | About Citizen Record
        p
          | Citizen record is a community driven repository of grievances and accounts submitted by 
          | members about their local community officials. By implementing this platform we encourage you
          | to share your story with the world. If you Live something UPLOAD something!
        .row.stats-row
          .stats-col.text-center.col-md-3.col-sm-6
            .circle
              span.stats-no(data-toggle='counter-up') 12,320
              |  Active Citizens
          .stats-col.text-center.col-md-3.col-sm-6
            .circle
              span.stats-no(data-toggle='counter-up') 6679
              |  Records Filed
          .stats-col.text-center.col-md-3.col-sm-6
            .circle
              span.stats-no(data-toggle='counter-up') 198
              |  Agencies with Records
          .stats-col.text-center.col-md-3.col-sm-6
            .circle
              span.stats-no(data-toggle='counter-up') 1415
              |  Cross Referenced Record
    // /About
    // Parallax
    .block.bg-primary.block-pd-lg.block-bg-overlay.text-center(data-bg-img='img/parallax-bg.jpg', data-settings='{"stellar-background-ratio": 0.6}', data-toggle='parallax-bg')
      h2
        | Unshielded Voices of the People
      //
        <p>
        This is the most powerful theme with thousands of options that you have never seen before.
        </p>
      img.gadgets-img.hidden-sm-down(alt='Bell - A perfect theme', src='img/social-media-550767_1280.png')
    // /Parallax
    // Features
    section#features.features
      .container
        h2.text-center
          | My Account
        .row
          .feature-col.col-lg-4.col-xs-12
            .card.card-block.text-center
              div
                .feature-icon
                  span.fa.fa-folder-open
              div
                h3
                  | My Records
                p
                  | Access your archived records and contributions here
          .feature-col.col-lg-4.col-xs-12
            .card.card-block.text-center
              div
                .feature-icon
                  span.fa.fa-search
              div
                h3
                  | My Searches
                p
                  | See a complete history of your saved searches
          .feature-col.col-lg-4.col-xs-12
            .card.card-block.text-center
              div
                .feature-icon
                  span.fa.fa-save
              div
                h3
                  | Saved Records
                p
                  | See a complete history of your saved records
        .row
          .feature-col.col-lg-4.col-xs-12
            .card.card-block.text-center
              div
                .feature-icon
                  span.fa.fa-database
              div
                h3
                  | My Citizenship
                p
                  | Statistics on your activity with CitizenRecord
          .feature-col.col-lg-4.col-xs-12
            .card.card-block.text-center
              div
                .feature-icon
                  span.fa.fa-commenting
              div
                h3
                  | Citizen Messages
                p
                  | Inbox for communication with other CitizenRecord members
          .feature-col.col-lg-4.col-xs-12
            .card.card-block.text-center
              div
                .feature-icon
                  span.fa.fa-trash-o
              div
                h3
                  | Shred Record
                p
                  | Delete a record you have previously submitted
    // /Features
    // Call to Action
    section.cta
      .container
        .row
          .col-lg-9.col-sm-12.text-lg-left.text-center
            h2
              | Search Records
            p
              | Click here to search the CitizenRecords directory and find details about grievances in your area.
          .col-lg-3.col-sm-12.text-lg-right.text-center
            a.btn.btn-ghost(href='search.html') Search
    // /Call to Action
    // Portfolio
    section#portfolio.portfolio
      .container.text-center
        h2
          | File Record
        p
          | Use the form below to file a record and share your knowledge with the community. Remeber, if you live something, upload something!
      .container
        form#contact_form.well.form-horizontal(action=' ', method='post')
          fieldset
           // Form Name

// Text input
.form-group
  label.col-md-4.control-label Username
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-user
      input.form-control(id='first_name', placeholder='User Name', type='text' )
// Text input
.form-group
  label.col-md-4.control-label Zipcode
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-user
      input.form-control(id='subzip', placeholder='Enter your zipcode (Ex. 30014)', type='text')
// Text input
.form-group
  label.col-md-4.control-label Date of Incident
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-calendar
      input.form-control(id='subdate', placeholder='YYYY-MM-DD', type='text')
// Text input
.form-group
  label.col-md-4.control-label Badge ID#
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-user
      input.form-control(id='subbadge', placeholder='123456', type='text')
// Text input
.form-group
  label.col-md-4.control-label Agency
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-home
      input.form-control(id='subagency', placeholder='Police,Fire Department,DMV', type='text')
// Text input
.form-group
  label.col-md-4.control-label Race
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-home
      input.form-control(id='subrace', placeholder='This optional field helps us track demographic data', type='text')
// Text input
.form-group
  label.col-md-4.control-label Content
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-pencil
      input.form-control(id='subcontent', placeholder='Enter your post here. Limit 500 characters.', type='text')

.form-group
  label.col-md-4.control-label agentname
  .col-md-4.inputGroupContainer
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-pencil
      input.form-control(id='subagent', placeholder='enter the agents name', type='text')
// Button
.form-group
  label.col-md-4.control-label
  .col-md-4
    button.btn.btn-warning#submitbutton(type='submit')
      | Submit 
      span.glyphicon.glyphicon-send
.container
      //
     
      section#team.team
        .container
          h2.text-center
            | Meet the Custodians of Records
          .row
            .col-sm-4.col-xs-6
              .card.card-block
                a(href='#')
                  img.team-img(alt='', src='img/team-1.jpg')
                  .card-title-wrap
                    span.card-title Ali Huda
                    span.card-text CMO
                  .team-over
                    h4.hidden-md-down
                      | Connect with me
                    nav.social-nav
                      a(href='#')
                        i.fa.fa-twitter
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-linkedin
                      a(href='#')
                        i.fa.fa-envelope
                    p
                      | Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
            .col-sm-4.col-xs-6
              .card.card-block
                a(href='#')
                  img.team-img(alt='', src='img/team-2.jpeg')
                  .card-title-wrap
                    span.card-title Marissa Pippen
                    span.card-text CIO /Chief Product Officer
                  .team-over
                    h4.hidden-md-down
                      | Connect with me
                    nav.social-nav
                      a(href='#')
                        i.fa.fa-twitter
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-linkedin
                      a(href='#')
                        i.fa.fa-envelope
                    p
                      | Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
            .col-sm-4.col-xs-6
              .card.card-block
                a(href='#')
                  img.team-img(alt='', src='img/team-3.jpg', height='350', width='443')
                  .card-title-wrap
                    span.card-title Madinah Nelson
                    span.card-text CSO
                  .team-over
                    h4.hidden-md-down
                      | Connect with me
                    nav.social-nav
                      a(href='#')
                        i.fa.fa-twitter
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-linkedin
                      a(href='#')
                        i.fa.fa-envelope
                    p
                      | Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
      // /Team
      // @component: footer
      section#contact
        .container
          .row
            .col-md-12.text-center
              h2.section-title Contact Us
          .row.justify-content-center
            .col-lg-3.col-md-4
              .info
                div
                  i.fa.fa-map-marker
                  p
                    | Georgia Tech University
                    br
                    | North Ave NW, Atlanta, Ga 30332
                div
                  i.fa.fa-envelope
                  p custodians@citizenrecord.com
                div
                  i.fa.fa-phone
                  p +1 867-5309
            .col-lg-5.col-md-8
              .form
                #sendmessage Your message has been sent. Thank you!
                #errormessage
                form.contactForm(action='', method='post', role='form')
                  .form-group
                    input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
                    .validation
                  .form-group
                    input#email.form-control(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
                    .validation
                  .form-group
                    input#subject.form-control(type='text', name='subject', placeholder='Subject', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
                    .validation
                  .form-group
                    textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Please write something for us', placeholder='Message')
                    .validation
                  .text-center
                    button(type='submit') Send Message
      footer.site-footer
        .bottom
          .container
            .row
              .col-lg-6.col-xs-12.text-lg-left.text-center
                p.copyright-text
                .credits
                  //
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
                  a(href='https://bootstrapmade.com/') Designed by Ali, Madinah, Marissa 
              .col-lg-6.col-xs-12.text-lg-right.text-center
                ul.list-inline
                  li.list-inline-item
                    a(href='index.html') Home
                  li.list-inline-item
                    a(href='#about') About Us
                  li.list-inline-item
                    a(href='#features') Features
                  li.list-inline-item
                    a(href='#portfolio') Portfolio
                  li.list-inline-item
                    a(href='#team') Team
                  li.list-inline-item
                    a(href='#contact') Contact
      a.scrolltop(href='#')
        span.fa.fa-angle-up
      // Required JavaScript Libraries
      script(src='lib/jquery/jquery.min.js')
      script(src='lib/jquery/jquery-migrate.min.js')
      script(src='lib/superfish/hoverIntent.js')
      script(src='lib/superfish/superfish.min.js')
      script(src='lib/tether/js/tether.min.js')
      script(src='lib/stellar/stellar.min.js')
      script(src='lib/bootstrap/js/bootstrap.bundle.min.js')
      script(src='lib/counterup/counterup.min.js')
      script(src='lib/waypoints/waypoints.min.js')
      script(src='lib/easing/easing.js')
      script(src='lib/stickyjs/sticky.js')
      script(src='lib/parallax/parallax.js')
      script(src='lib/lockfixed/lockfixed.min.js')
      // Template Specisifc Custom Javascript File
      script(src='js/custom.js')
      script(src='contactform/contactform.js')
